apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
platform:
  azure:
    baseDomainResourceGroupName: {{ base_domain_resource_group }}
    region: {{ azure_region }}
    outboundType: Loadbalancer
    cloudName: AzurePublicCloud
controlPlane:
  name: master
  replicas: {{ control_plane_replicas }}
  platform:
    azure:
      type: {{ control_plane_vm_size }}
compute:
  - name: worker
    replicas: {{ compute_replicas }}
    platform:
      azure:
        type: {{ compute_vm_size }}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
publish: External
pullSecret: '{{ lookup("file", pull_secret_path) }}'
sshKey: |
  {{ lookup("file", ssh_public_key_path) }}
